*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg);
}

:root{
  --bg: #F3F2EC;
  --bg-second: #EDEBE4;

  --Prim-font: #2F2F2F;
  --Sec-font: #777;
  --sub-font: #AFAFAF;
  --special-font: #74642F;

  --icon: #757575;
  --separator: #d3d3d3;

  --Prim-color: #DAA556;
  --asdas: #000;
  --arcoiris: linear-gradient(60deg, 
  #f84444 0,
  rgb(248, 163, 52) 20%,
  rgb(231, 219, 41) 40%,
  rgb(92, 231, 49) 60%,
  rgb(47, 104, 228) 80%,
  rgb(145, 62, 223) 100%);
  /* --arcoiris: linear-gradient(
      to right, 
      #e92f2f 0%,
      #eb8614 20%,
      #e6e943 40%,
      #3ce73c 60%,
      #3763dd 80%,
      #9038e2 100%,
  ); */
}

[data-theme='dark']{

}

/* NAVBAR STYLES */

.navbar{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  border-bottom: 1px solid var(--separator);
  z-index: 1;
}

.navbar img{
  width: 70px;
  height: 70px;
  margin-left: 30px;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  margin-right: 40px;
}

.navbar li a{
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: var(--Sec-font);
  transition: all 0.3s ease;
} 

.navbar li a:hover{
  color: var(--Prim-color);
}

/* HEADER */

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  gap: 30px;
  padding: 0 40px 0 30px;
  border-bottom: 1px solid var(--separator);
}

.secondChildHeader{
  margin-left: auto;
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  color: var(--icon);
}

.socials i{
  color: var(--Prim-font);
  transition: all 0.3s ease;
}

.socials i:hover{
  color: var(--Prim-color);
}

header span, header i{
  color: var(--Sec-font);
}

header i:hover, header span:hover{
  cursor: pointer;
}

header input{
  background: #e7e6dd;
  width: 0;
  height: 32px;
  border-radius: 20px;
  outline: none;
  padding: 0 32px 0 12px;
  transition: all 0.3s ease;
}

.searchSection{
  display: flex;
  justify-content: end;
}

.searchButton{
  position: absolute;
  background: #e7e6dd;
  border-radius: 50%;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.searchButton i{
  background: transparent;
}

.searchButton:hover{
  cursor: pointer;
}

.trash{
  width: 200px;
  height: 4500px;
  background: #fff;
}

/* SLIDER STYLES */

.slice{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.slice .btn-arrow{
  background: var(--separator);
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slice .btn-left{
  margin-right: auto;
  margin-left: 60px;
}

.slice .btn-right{
  margin-left: auto;
  margin-right: 60px;
}


.slice .btn-arrow:hover{
  cursor: pointer;
  background: var(--Prim-color);
}

.slice .btn-arrow i{
  background: transparent;
}

.slice .content{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 100px;
  transition: all 1s ease;
}

.slice .content .description{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.slice .content .description h1{
  max-width: 250px;
}

.slice .content .description p{
  max-width: 250px;
  line-height: 1.5rem;
  font-size: 12px;
}

.slice .content .description .btn-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid var(--Prim-color);
  color: var(--Prim-color);
  align-self: flex-start;
  width: 150px;
  height: 35px;
  transition: all 0.4s ease;
}

.slice .content .description .btn-more:hover{
  border-color: var(--Prim-font);
  color: var(--Prim-font);
  align-self: flex-start;
  gap: 10px;
  width: 155px;
  cursor: pointer;
}

.slice .content .img-container{
  width: 400px;
  border-radius: 10px;
  border: none;
  padding: none;
  overflow: hidden;
}

.slice .content img{
  width: 400px;
  border-radius: 10px;
  transition: all 0.7s ease;
}

.slice .content img:hover{
  transform: scale(1.04);
}

/* Footer Styles */

.footer{
  display: flex; 
  flex-direction: column;
  margin: 50px 0px 0 0px;
}

.footer .information{
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer .information section{
  max-width: 200px;
  font-size: 16px;
  color: var(--Prim-font);
}

.footer li a{
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: var(--Sec-font);
  transition: all 0.3s ease;
}

.footer li a:hover{
  color: var(--Prim-color);
}

.footer .information ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.footer .information h2{
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer .information .description img{
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.footer .information .description p{
  line-height: 22px;
}


.footer .footer-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 320px;
  row-gap: 40px;
  margin-top: 40px;
  border-top: 1px solid var(--separator);
  padding: 40px 0 10px 0;
}

.footer .footer-bottom a{
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: var(--Prim-color);
  transition: all 0.3s ease;
}

.footer .footer-bottom a:hover{
  color: var(--Prim-font);
}

/* Contact us STYLES */

.contactUs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: var(--bg-second);
  height: 270px;
}

.contactUs a{
  background: transparent;
}

.contactUs a img{
  width: 55px;
  background: transparent;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}

.contactUs a img:hover{
  filter: grayscale(0);
}

/* Feature Styles */

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 50px;
  gap: 20px;
}

.feature .products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.feature h4{
  font-size: 14px;
  color: var(--sub-font);
  font-weight: 400;
  text-align: center;
}

.feature h1{
  font-size: 48px;
  color: var(--Prim-font);
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

/* Product-card Styles */

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 10px;
}

.product-card .view{
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 275px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card .view:hover{
  cursor: pointer;
}

.product-card .view img{
  height: 100%;
}

.product-card .view:hover .viewProduct{
  height: 50px;
  padding-top: 15px;
}

.product-card .view .viewProduct{
  position: absolute;
  background-color: #000;
  color: #fff;
  text-align: center;
  bottom: 0;
  font-size: 16px;
  height: 0px;
  width: 100%;
  transition: all 0.5s ease;
}

.product-card .productName{
  color: var(--special-font);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}

.product-card .productCategory{
  color: var(--icon);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}

.product-card .productPrice{
  color: var(--special-font);
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

/* SendMessages Styles */

.sendMessage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: var(--bg-second);
  padding: 100px 0;
}

.sendMessage h1{
  background: transparent;
  width: 300px;
  font-size: 38px;
  font-weight: 500;
}

.sendMessage .form{
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.sendMessage .form p{
  background: transparent;
  font-size: 16px;
  color: var(--Sec-font);
}

.sendMessage .form form{
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: transparent;
}

.sendMessage .form form input{
  background: transparent;
  border-bottom: 1px solid var(--separator);
  height: 50px;
  font-size: 16px;
}

.sendMessage .form form input:focus {
  outline: none;
}

.sendMessage .form form button{
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--Prim-font);
  font-weight: 700;
  transition: all 0.3s ease;
}

.sendMessage .form form button:hover {
  color: var(--Prim-color);
  gap: 10px;
  cursor: pointer;
}

/* Product description styles */

.productDescription{
  /* margin-top: 150px; */
  background: var(--bg-second);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 40px;
  padding-top: 220px;
  padding-bottom: 220px;
}

.productDescription img{
  width: 400px;
  border-radius: 20px;
}

.productDescription .content{
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 350px;
  margin-top: 30px;
  gap: 16px;
}

.productDescription .content h1{
  background: transparent;
  padding-bottom: 10px;
  font-size: 48px;
  color: var(--Prim-font);
  border-bottom: 1px solid var(--separator);
}

.productDescription .content .description{
  background: transparent;
  font-size: 16px;
  line-height: 22px;
  color: var(--Prim-font);
}

.productDescription .content .price{
  font-size: 25px;
  background: var(--arcoiris);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(82, 52, 52, 0);
}

.productDescription .content button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: transparent;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid var(--Prim-font);
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.productDescription .content button:hover{
  cursor: pointer;
  gap: 20px;
  border: 2px solid var(--Prim-color);
  color: var(--Prim-color);
}

/* Page Not Foundes */

.noFoundPage{
  background: transparent;
  
}

/* Error 404 */

.error404{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 900px;
  text-align: center;
  background: var(--bg-second);
}

.error404 .oops{
  font-size: 200px;
  font-weight: bold;
  background: var(--arcoiris);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(82, 52, 52, 0);
}

.error404 h1{
  background: transparent;
  font-size: 22px;
  color: var(--Prim-font);
}

.error404 p{
  background: transparent;
  width: 350px;
  color: var(--Sec-font);
  text-align: center;
}

.error404 button{
  display: flex;
  gap: 10px;
  background: transparent;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  color: var(--Prim-font);
  border: 1px solid var(--Prim-font);
  transition: all 0.5s ease;
}

.error404 button:hover{
  cursor: pointer;
  gap: 20px;
  color: var(--Prim-color);
  border: 1px solid var(--Prim-color);
}

/* Styles optionals */

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}